.start-button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    width: 700px;
    height: 150px;
    color: rgb(50, 157, 207);
    border-radius: 80px;
    background: white;
    border-color: white;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pretty-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: white;
}

body {
    background: rgb(50, 157, 207);
}